@model string
 
<div asp-validation-summary="All" class="text-danger"></div>
 
<form asp-action="Delete" method="post">
    <div class="form-group">
        <label for="name">Delete</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>